<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Spring Boot Personas</title>

</head>
<body>
<div>
    <h1>Spring Boot Personas</h1>
    <a href="/templatePersona">Add persona</a>
    <a href="/">Volver al index</a>
    <ul>
        <div th:each="entry,status : ${persona}">
            <li>
                <div></div>
                <div>
                    <div>
                        <h4><span th:text="${entry.id}">NOMBRE</span></h4>
                        <h4><span th:text="${entry.nombre}">NOMBRE</span></h4>

                    </div>
                    <div class="tl-body">
                        <p><span th:text="${entry.apellido1}">SEGUNDO APELLIDO</span></p>
                        <p><span th:text="${entry.apellido2}">SEGUNDO APELLIDO</span></p>
                        <p><span th:text="${entry.direccion}">DIRECCION</span></p>
                        <p><span th:text="${entry.fechaNacimiento}">FECHA NACIMIENTO</span></p>
                    </div>
                </div>
            </li>
            <a th:href="@{/editarPersona/{id}(id=${entry.id})}" >Editar</a>
            <a th:href="@{/borrarPersona/{id}(id=${entry.id})}" >Borrar</a>
        </div>
    </ul>

</div>
</body>
</html>